html {text-align: center;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    


}

h1,h2{color:darkred;
   font-family: Impact, sans-serif; 
}
.fullpage p {margin:0 auto;
   text-align: center;

}

}
.fullpage {
   padding-left: 20%;
   padding-inline-end: 20%;
   text-align: left;



}

  
    





